stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'Ubuntu-16.04'
    variables:
    - group: secrets
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '11.x'
      displayName: 'Install Node.js'
    - script: |
        npm install
      displayName: 'npm install'
    - script: |
        npm install puppeteer jest-cli jest @types/puppeteer @types/jest --save-dev --save-exact
      displayName: 'install test dependencies'
    - script: |
        npm run test
      displayName: 'run tests'
    - script: |
        npm run build -- --prerender
      displayName: 'Build'
    - script: |
        npm install webdriverio@4.14.4 browserstack-local@1.4.0 wdio-mocha-framework@0.6.4 chai@4.2.0 wdio-static-server-service@1.0.1
      displayName: 'install browserstack dependencies'
    - script: |
        export HOST_IP="$(hostname -i | awk '{print $1}')"
        npm run browserstack
      displayName: 'Run browserstack e2e tests'
      env:
        browserstackkey: $(browserstackkey)
        browserstackuser: $(browserstackuser)
        BUILD_ID: $(Build.BuildNumber)
    - task: PublishPipelineArtifact@0
      inputs:
        artifactName: 'www'
        targetPath: '$(System.DefaultWorkingDirectory)/www'
    - task: PublishPipelineArtifact@0
      inputs:
        artifactName: 'fbconfig'
        targetPath: '$(System.DefaultWorkingDirectory)/firebase.json'
- stage: Deploy
  jobs:
  - deployment: DeployFirebase
    pool:
      vmImage: 'Ubuntu-16.04'
    variables:
    - group: secrets
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'www'
              targetPath: $(System.DefaultWorkingDirectory)/www
          - task: DownloadPipelineArtifact@1
            inputs:
              artifactName: 'fbconfig'
              targetPath: $(System.DefaultWorkingDirectory)
          - script: 'sudo npm install -g firebase-tools'
            displayName: 'Firebase tools'
          - script: 'sudo firebase deploy --token $(fb_ci_token) --project $(fb_production_project) --message "Build: $(Build.BuildNumber)"'
            displayName: 'Firebase deploy'
